# Advdiff requirements
pytorch-lightning
kornia 
torch-fidelity 
test-tube
streamlit
pudb
imageio-ffmpeg 
albumentations
transformers
numpy
omegaconf

# GRADE dependencies
torch
diffusers
torchvision
python-dotenv
tqdm
lpips
pandas
accelerate
matplotlib
timm